<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akshay.attendancebarcodereaderserver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".FrontActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AttendanceActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StartAttendanceActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DatabaseImportActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DatabaseExportActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeleteDatabaseActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DuplicateCheckActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".MarkManuallyActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>